body {
    backdrop-filter: blur(5px);
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

    min-height: 100vh;
    background-color: #008080;
    color: hsla(0, 0%, 100%, 1);
}

#active {
    display: block;

    animation-name: menu-open;
    animation-duration: 0.3s;
}
#inactive {
    display: none;
}

@keyframes menu-open {
    from{ transform: scaleY(0) translateY(-50%)}
    to{ transform: scaleY(1)}
}

.navbar-container {
    position: fixed;
    margin: 0;

    display: flex;
    flex-direction: column;
    
    row-gap: 10px;
}
.navbar {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);

    padding: 10px 0;
    min-width: 100vw;

    border-bottom: 2px solid #ffffff70;
    background-color: #ffffff33;
    text-align: center;
}
.navbar .icon-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar .title {
    font-family: fantasy;
    font-size: 18px;
    letter-spacing: 0.1rem;
}

.navbar .icon-buttons a {
    color: inherit;
}
.navbar .icon-buttons .portfolio-button,
.navbar .icon-buttons .linkedin-button,
.navbar .icon-buttons .github-button,
.navbar .icon-buttons .help-button {
    cursor: pointer;

    transition: 0.2s ease-in-out;
}
.navbar .icon-buttons .settings-button,
.navbar .icon-buttons .theme-button {
    cursor: pointer;

    transition: 1s ease-in-out;
}
.navbar .icon-buttons .github-button:hover,
.navbar .icon-buttons .linkedin-button:hover,
.navbar .icon-buttons .portfolio-button:hover {
    transform: translateY(-3px);
}
.navbar .icon-buttons .help-button:hover {
    transform: rotate(30deg) scale(1.1);
}
.navbar .icon-buttons .settings-button:hover {
    transform: rotate(270deg);
}
.navbar .icon-buttons .theme-button:hover {
    transform: rotate(-30deg);
}

.menus-container {
    display: grid;
    grid-template: 1fr / repeat(18, 1fr);
    padding: 0 10px;

    font-family: Georgia, 'Times New Roman', Times, serif;
}
.help-menu,
.settings-menu,
.theme-menu {
    background-color: #8c8c8c88;
    border: 2px solid #ffffff70;
    border-radius: 5px;

    padding: 10px 15px 15px 15px;
}
.help-menu {
    grid-column: 13 / 15
}
.settings-menu {
    grid-column: 15 / 17;
}
.theme-menu {
    grid-column: 17 / 19;
}

.menu-title {
    font-family: fantasy;
    font-size: 26px;
    letter-spacing: 2px;
    font-variant: small-caps;
}
.menu-detail {
    margin-top: 10px;
}
.menu-subtitle {
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 2px solid #ffffffad;
}
.menu-options-buttons,
.menu-options {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-size: 14px;
    gap: 5px;
}
.menu-detail p {
    margin: 0;

    line-height: 1.3rem;
}
.menu-options-buttons button {
    color:aliceblue;
    font-size: 16px;
    font-weight: 600;

    background-color: #ffffff70;
    border: 2px solid #ffffffad;
    border-radius: 5px;

    box-shadow: none;
    padding: 5px 0;

    cursor: pointer;

    transition: 0.5s;
}
.menu-options .url-input {
    padding-left: 5px;
    margin-top: 5px;
    cursor: text;
    border-radius: 5px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.menu-options .color-picker-container {
    display: flex;
    flex-direction: column;

    padding-left: 21px;
}
.menu-options .color-hex-display,
.menu-options .color-picker-display {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.menu-options .color-hex-display span {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 2px;
    width: fit-content;
    font-weight: 600;
    letter-spacing: 2px;
    border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.menu-options-buttons button:hover {
    transform: scale(1.03);
}
.menu-options-buttons button:disabled {
    color:#c0c0c0;
    font-weight: 500;
    
    background-color: #aaaaaa70;
    border: 2px solid #aaaaaaad;
}

.clock-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    /*create a slider*/

    min-height: calc(100vh - 60px);
}
.clock {
    font-size: 8rem;
    font-weight: bold;
    font-family: monospace;
}
.clock-text {
    letter-spacing: 0.1rem;
}
#military {
    letter-spacing: 1rem;
}

#top {
    grid-row: 1 / 2;
}
#center {
    grid-row: 2 / 3;
}
#bottom {
    grid-row: 3 / 4;
}

@media (max-width: 1630px) {
    .help-menu {
        grid-column: 13 / 16;
    }
    .settings-menu {
        grid-column: 15 / 18;
    }
    .theme-menu {
        grid-column: 16 / 19;
    }
}
@media (max-width: 1062px) {
    .menu-subtitle {
        font-size: 16px;
    }
    .menu-options-buttons,
    .menu-options {
        font-size: 14px;
    }
    .menu-options-buttons button {
        font-size: 14px;
    }

    .help-menu {
        grid-column: 12 / 16;
    }
    .settings-menu {
        grid-column: 14 / 18;
    }
    .theme-menu {
        grid-column: 15 / 19;
    }
}
@media (max-width: 800px) {
    .help-menu {
        grid-column: 11 / 16;
    }
    .settings-menu {
        grid-column: 12 / 18;
    }
    .theme-menu {
        grid-column: 13 / 19;
    }
    .clock {
        font-size: 6rem;
    }
}